<ion-content style=" max-height: 300px; overflow-y: auto;">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>{{ backboneFracturesTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>{{ backboneFracturesTitle}}</h1> -->
  <div style="margin-top: 23vh">
    <h1 class="ion-text-center">{{backboneFracturesTitle}}</h1>
    <h3>{{backboneFracturesSymptomsTitle}}</h3>
    <ul *ngFor="let content of backboneFracturesSymptoms">
      <li> {{content}}</li>
    </ul>

    <h3>{{backboneFracturesDoNotTitle}}</h3>
    <ul *ngFor="let content of backboneFracturesDoNot">
      <li>{{content}}</li>
    </ul>
    <h3>{{backboneFracturesWhatToDoTitle}}</h3>
    <ul *ngFor="let content of backboneFracturesWhatToDo">
      <li>{{content}}</li>
    </ul>
  </div>
</ion-content>