<ion-content> 
  <div class="margin-23vh" style="width: 94vw; margin-left: 3vw;">
    <h1 class="ion-text-center border-bottom-dark-blue">{{ 'upperFractures.title' | translate }}</h1>
    <h3>{{ 'upperFractures.whatToDo.title' | translate }}</h3>
    <ul>
      <li>{{ 'upperFractures.whatToDo.info_1' | translate }}</li>
      <li>{{ 'upperFractures.whatToDo.info_2' | translate }}</li>
      <li>{{ 'upperFractures.whatToDo.info_3' | translate }}</li>
      <li>{{ 'upperFractures.whatToDo.info_4' | translate }}</li>
      <li>{{ 'upperFractures.whatToDo.info_5' | translate }}</li>
      <li>{{ 'upperFractures.whatToDo.info_6' | translate }}</li>
    </ul>
</div>
</ion-content>