<ion-grid [ngClass]="{ 'big-font': bigFont, 'dark': darkMode, 'verticalDistance': verticalDistance, 'horizontalDistance': horizontalDistance }" 
 style="padding: 0; z-index: 10; position: fixed; top: 0px; left: 0px; width: 100vw; ">
    <ion-row class="ion-text-center ion-align-items-center home-header">
        <ion-col style="display: flex; align-items: center; justify-content: center;" >
            <img src="./../../../assets/images/cross.png" style="height: auto; width: 5%;" alt="">
            <ion-text class="title" style="margin-left: 15px; letter-spacing: 2px;">{{ 'GENERAL.first_aid' | translate | uppercase}}</ion-text>
        </ion-col>
    </ion-row>
    <ion-row class="home-modal" >
        <ion-col style="height:7vh;padding: 10px 0;padding-left: 2.5%;"  >
            <!-- <ion-icon (click)="openModal()" style="margin-right: 30px; font-size: 20px" name="menu-outline"></ion-icon>  -->
            <ion-text (click)="goHome()">{{ 'GENERAL.back' | translate | uppercase}}</ion-text>
        </ion-col>
    </ion-row>
</ion-grid>