<ion-grid style="padding: 0; z-index: 10; position: fixed; top: 0px; left: 0px; width: 100vw; ">
  <ion-row style="height: 15vh; background-color:#1E73BE; color: white;" class="ion-text-center ion-align-items-center;">
      <ion-col style="display: flex; align-items: center; justify-content: center;" >
          <img src="./../../../assets/images/cross.png" style="height: auto; width: 5%;" alt="">
          <ion-text style="margin-left: 15px; font-size: 1.5rem; letter-spacing: 2px;">PIERWSZA POMOC</ion-text>
      </ion-col>
  </ion-row>
  <ion-row style="background-color: #1B558F; color: white;box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.5);">
      <ion-col class=" ion-align-items-center" style="height:7vh;padding: 10px 0;padding-left: 2.5%;"  >
          <!-- <ion-icon (click)="openModal()" style="margin-right: 30px; font-size: 20px" name="menu-outline"></ion-icon>  -->
          <ion-text (click)="goHome()">{{ 'GENERAL.back' | translate | uppercase}}</ion-text>
      </ion-col>
  </ion-row>
</ion-grid>