<ion-content>
  <app-header></app-header>
  <!-- <ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-border">
      <ion-back-button text="Powrót" slot="start"></ion-back-button>
      <ion-title>Pierwsza pomoc</ion-title>

      <ion-icon slot="end" name="eye" style="margin-right: 5vw"></ion-icon>
      <ion-text slot="end" style="margin-right: 2vw">aA</ion-text>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid style="margin-top: 5vh;">
    <ion-col>
      <ul *ngFor="let list of lists">
    
        <li>{{ list }}</li>
      </ul>
    </ion-col>
    
  </ion-grid>
</ion-content>