<ion-content>
  <app-header></app-header>
  <!-- <ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-border">
      <ion-back-button text="Powrót" slot="start"></ion-back-button>
      <ion-title>Pierwsza pomoc</ion-title>

      <ion-icon slot="end" name="eye" style="margin-right: 5vw"></ion-icon>
      <ion-text slot="end" style="margin-right: 2vw">aA</ion-text>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid style="margin-top: 23vh;height: 77vh;">
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center  border-bottom-dark-blue">Pierwsza pomoc - drgawki</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="border-bottom-light-grey">
        <ion-text style="color: red; font-size: 1.2rem;">Podstawowe zasady:</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ul>
          <li *ngFor="let list of lists_1">{{ list }}</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="border-bottom-light-grey">
        <ion-text style="color: red; font-size: 1.2rem;">Pamiętaj o:</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ul>
          <li *ngFor="let list of lists_2">{{ list }}</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>