<ion-content>
<app-header></app-header>
<ion-grid style="margin-top: 23vh;height: 77vh; width: 94vw; margin-left: 3vw;">
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center  border-bottom-dark-blue">{{  'cardiacArrest.title' | translate }}</h1>
      </ion-col> 
    </ion-row>
    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">{{  'cardiac_arrest.title_1.title' | translate }}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p [innerHTML]="'cardiac_arrest.title_1.info_1' | translate">  </p>
            <p [innerHTML]="'cardiac_arrest.title_1.info_2' | translate">  </p>
            <p [innerHTML]="'cardiac_arrest.title_1.info_3' | translate">  </p>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    
    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">{{  'cardiac_arrest.title_2.title' | translate }}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div [innerHTML]="'cardiac_arrest.title_1.info_1' | translate "></div>
              <div>
                <ul>
                  <li>{{  'cardiac_arrest.title_2.info_2' | translate }}</li>
                  <li>{{  'cardiac_arrest.title_2.info_3' | translate }}</li>
                  <li>{{  'cardiac_arrest.title_2.info_4' | translate }}</li>
                </ul>
              </div>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">{{  'cardiac_arrest.title_3.title' | translate }}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>{{  'cardiac_arrest.title_3.info_1' | translate }}</p>
            <p>{{  'cardiac_arrest.title_3.info_2' | translate }}</p>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">{{  'cardiac_arrest.title_4.title' | translate }}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>{{  'cardiac_arrest.title_4.info_1' | translate }}  </p>
            <div>  
              <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">{{  'cardiac_arrest.title_5.title' | translate }} </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>{{  'cardiac_arrest.title_5.info_1' | translate }} </p>
            <div>  
              <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

</ion-grid>
  
</ion-content>