<ion-content>
<app-header></app-header>
<ion-grid style="margin-top: 23vh;height: 77vh; width: 94vw; margin-left: 3vw;">
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center  border-bottom-dark-blue">{{  'cardiacArrest.title' | translate }}</h1>
      </ion-col> 
    </ion-row>
    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">{{  'cardiac_arrest.title_1.title' | translate }}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p [innerHTML]="'cardiac_arrest.title_1.info_1' | translate">  </p>
            <p [innerHTML]="'cardiac_arrest.title_1.info_2' | translate">  </p>
            <p [innerHTML]="'cardiac_arrest.title_1.info_3' | translate">  </p>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    
    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">{{  'cardiac_arrest.title_2.title' | translate }}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div [innerHTML]="'cardiac_arrest.title_1.info_1' | translate "></div>
              <div>
                <ul>
                  <li>{{  'cardiac_arrest.title_2.info_2' | translate }}</li>
                  <li>{{  'cardiac_arrest.title_2.info_3' | translate }}</li>
                  <li>{{  'cardiac_arrest.title_2.info_4' | translate }}</li>
                </ul>
              </div>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">Poszkodowany nie oddycha i nie ma oznak krążenia</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>Poszkodowany nie oddycha i nie ma oznak krążenia.</div>
              <div>
                wezwanie kwalifikowanej pomocy - to czas by wezwać kwalifikowaną pomoc dzwoniąc pod jeden z numerów alarmowych (112/999)
              </div>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">Resuscytacja krążeniowo-oddechowa w schemacie 30:2</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>nalezy zapewnić sobie dostęp do urządzenia AED oraz przystąpić niezwłocznie do wykonywania resuscytacji krążeniowo-oddechowej, na którą składają się uciski klatki piersiowej i oddechy ratownicze w schemacie 30:2. Uciskaj mocno i szybko 30 razy (głębokość 5-6 cm, częstość 100-120/min.). Oddechy natomiast wykonaj 2 razy (by je wykonać udrożnij ponownie
              drogi oddechowe. Każdy oddech powinien trwać ok. 1 sekundę, do momentu uniesienia się klatki piersiowej) Jeśli to możliwe skorzystaj z maseczki foliowej lub pocket mask by zwiększyć swoje bezpieczeństwo.
            </div>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">Wczesna defibrylacja</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>Gdy urządzenie AED będzie dostępne, należy je jak najszybciej uruchomić i postępować zgodnie z jego poleceniami.</div>
            <div>  
              <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

</ion-grid>
  
</ion-content>