<ion-content>
<app-header></app-header>
<ion-grid style="margin-top: 23vh;height: 77vh; width: 94vw; margin-left: 3vw;">
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center  border-bottom-dark-blue">Zatrzymanie krązenia</h1>
      </ion-col>
    </ion-row>
    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">Bezpieczeństwo własne i miejsca zdarzenia </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>Sprawdzenie reakcji – <b>„Halo czy Pan/Pani mnie słyszy”</b> i zapewnienie sobie kogoś
              do pomocy.</div>
              <div>
                W drugiej kolejności po podejściu do poszkodowanego sprawdźmy reakcję na głos mówiąc wyraźnie – <b>Halo!
                czy Pan/Pani mnie słyszy?</b> – jeśli brak reakcji ze strony poszkodowanego delikatnie potrząsamy go za ramiona.
              </div>
              <div>Zanim upewnimy się, że poszkodowany jest nieprzytomny i potrzebuje naszej pomocy zadbajmy o bezpieczeństwo własne i miejsca zdarzenia upewniając się, że nic nie zagraża nam i poszkodowanemu! 
              </div>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    
    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">Badanie ABC</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>Jeżeli nie uzyskaliśmy żadnej informacji zwrotnej od poszkodowanego, zapewnijmy sobie kogoś do pomocy, a w
              kolejnym
              etapie zbadajmy chorego według prostego schematu ABC, tak aby upewnić się co do jego stanu zdrowia.</div>
              <div>
                <ul>
                  <li>A (airway) drożność dróg oddechowych – odegnijmy delikatnie głowę do tyłu (chwyt czoło-żuchwa), tak aby
                    udrożnić drogi
                    oddechowe.</li>
                  <li>B (breathing) – zbadajmy oddech przez 10 sekund na zasadzie: widzę, słyszę, czuję (w ciągu 10 sekund
                    powinniśmy wyczuć
                    przynajmniej dwa pełne oddechy).</li>
                  <li>C (circulation) – jeśli mamy w tym doświadczenie zbadajmy obecność tętna (krążenia) na tętnicy szyjnej i
                    tętnicy
                    promieniowej.</li>
              </ul>
              </div>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">Poszkodowany nie oddycha i nie ma oznak krążenia</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>Poszkodowany nie oddycha i nie ma oznak krążenia.</div>
              <div>
                wezwanie kwalifikowanej pomocy - to czas by wezwać kwalifikowaną pomoc dzwoniąc pod jeden z numerów alarmowych (112/999)
              </div>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">Resuscytacja krążeniowo-oddechowa w schemacie 30:2</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>nalezy zapewnić sobie dostęp do urządzenia AED oraz przystąpić niezwłocznie do wykonywania resuscytacji krążeniowo-oddechowej, na którą składają się uciski klatki piersiowej i oddechy ratownicze w schemacie 30:2. Uciskaj mocno i szybko 30 razy (głębokość 5-6 cm, częstość 100-120/min.). Oddechy natomiast wykonaj 2 razy (by je wykonać udrożnij ponownie
              drogi oddechowe. Każdy oddech powinien trwać ok. 1 sekundę, do momentu uniesienia się klatki piersiowej) Jeśli to możliwe skorzystaj z maseczki foliowej lub pocket mask by zwiększyć swoje bezpieczeństwo.
            </div>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col class="border-bottom-light-grey">
            <ion-text style="color: red; font-size: 1.2rem;">Wczesna defibrylacja</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>Gdy urządzenie AED będzie dostępne, należy je jak najszybciej uruchomić i postępować zgodnie z jego poleceniami.
            </div>
              <div>  
                <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg" style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

</ion-grid>
  
</ion-content>