<ion-content>
  <div class="margin-23vh" style="width: 94vw; margin-left: 3vw;">
    <h1 class="ion-text-center  border-bottom-dark-blue"> {{ 'lowerFractures.title' | translate }} </h1>
    <h3>{{ 'lowerFractures.whatToDo.title' | translate }}</h3>
    <ul>
      <li>{{ 'lowerFractures.whatToDo.info_1' | translate }} </li>
      <li>{{ 'lowerFractures.whatToDo.info_2' | translate }} </li>
      <li>{{ 'lowerFractures.whatToDo.info_3' | translate }} </li>
      <li>{{ 'lowerFractures.whatToDo.info_4' | translate }} </li>
      <li>{{ 'lowerFractures.whatToDo.info_5' | translate }} </li>
      <li>{{ 'lowerFractures.whatToDo.info_6' | translate }} </li>
    </ul>
  </div>
</ion-content>