
  <ion-content>
    <app-header></app-header>
    <ion-grid style="margin-top: 23vh;height: 77vh; width: 94vw; margin-left: 3vw;">
    <h1 class="ion-text-center border-bottom-dark-blue">{{ 'unconscious.title' | translate}}</h1>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide style="display: flex">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ 'unconscious.rule_1.number' | translate}}</ion-card-subtitle>
              <ion-card-title>{{ 'unconscious.rule_1.title' | translate}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>{{ 'unconscious.rule_1.info_1' | translate}}</p>
              <!-- <ion-img src="./../../assets/icon/safetyFirst.svg" style="width: 15%;" alt=""> </ion-img> -->
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ 'unconscious.rule_2.number' | translate}}</ion-card-subtitle>
              <ion-card-title>{{ 'unconscious.rule_2.title' | translate}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>{{ 'unconscious.rule_2.info_1' | translate}}</p>
              <!-- <ion-img src="./../../assets/icon/safetyFirst.svg" style="width: 15%;" alt=""> </ion-img> -->
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ 'unconscious.rule_3.number' | translate}}</ion-card-subtitle>
              <ion-card-title>{{ 'unconscious.rule_3.title' | translate}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>{{ 'unconscious.rule_3.info_1' | translate}}</p>
              <ol>
                <li>{{ 'unconscious.rule_3.info_2' | translate}}</li>
                <li>{{ 'unconscious.rule_3.info_3' | translate}}</li>
                <li>{{ 'unconscious.rule_3.info_4' | translate}}</li>
              </ol>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ 'unconscious.rule_4.number' | translate}}</ion-card-subtitle>
              <ion-card-title>{{ 'unconscious.rule_4.title' | translate}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>{{ 'unconscious.rule_4.info_1' | translate}}</p>
              <!-- <ion-img src="./../../assets/icon/safetyFirst.svg" style="width: 15%;" alt=""> </ion-img> -->
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ 'unconscious.rule_5.number' | translate}}</ion-card-subtitle>
              <ion-card-title>{{ 'unconscious.rule_5.title' | translate}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>{{ 'unconscious.rule_5.info_1' | translate}}</p>
              <!-- <ion-img src="./../../assets/icon/safetyFirst.svg" style="width: 15%;" alt=""> </ion-img> -->
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ 'unconscious.rule_6.number' | translate}}</ion-card-subtitle>
              <ion-card-subtitle>{{ 'unconscious.rule_6.title' | translate}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              {{ 'unconscious.rule_6.info_1' | translate}}
              <!-- <ion-img src="./../../assets/icon/safetyFirst.svg" style="width: 15%;" alt=""> </ion-img> -->
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides> 

    </ion-grid>
  </ion-content>