<!-- <ion-content> -->
  <!-- <ion-header>
    <ion-toolbar>
      <ion-back-button text="Powrót" slot="start"></ion-back-button>
      <ion-title>cardiacArrest</ion-title>

      <ion-icon slot="end" name="eye"></ion-icon>
      <ion-text slot="end">reer</ion-text>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
    <app-header></app-header>
    <ion-grid style="margin-top: 23vh;height: 77vh; width: 94vw; margin-left: 3vw;">
    <h1>Procedury postępowania w przypadku nieprzytomnego</h1>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide style="display: flex">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Zasada 1</ion-card-subtitle>
              <ion-card-title>Bezpieczeństwo własne</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>Zanim upewnimy się, że poszkodowany jest nieprzytomny i potrzebuje naszej pomocy zadbajmy
                o własne bezpieczeństwo!</p>
              <ion-img src="./../../assets/icon/safetyFirst.svg" style="width: 15%;" alt=""> </ion-img>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Zasada 2</ion-card-subtitle>
              <ion-card-title>Kontakt z poszkodowanym</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>W drugiej kolejności po podejściu do poszkodowanego sprawdźmy reakcję na głos – Halo! czy Pan/Pani mnie
                słyszy? – w przypadku
                braku reakcji delikatnie potrząśmy ramionami.</p>
              <ion-img src="./../../assets/icon/safetyFirst.svg" style="width: 15%;" alt=""> </ion-img>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Zasada 3</ion-card-subtitle>
              <ion-card-title>Badanie ABC</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>Jeżeli do tej pory nie uzyskaliśmy żadnej informacji zwrotnej od poszkodowanego w kolejnym etapie
                zbadajmy chorego
                według prostego schematu ABC tak aby dokładniej ocenić stan zdrowia.</p>
              <ol>
                <li>A (airway) drożność dróg oddechowych – odegnijmy delikatnie głowę do tyłu (chwyt czoło-żuchwa) tak aby
                  udrożnić drogi
                  oddechowe.</li>
                <li>B (breathing) – zbadajmy oddech przez 10 sekund na zasadzie: widzę, słyszę, czuję (w ciągu 10 sekund
                  powinniśmy wyczuć
                  przynajmniej dwa pełne oddechy).</li>
                <li>C (circulation) jeśli mamy w tym doświadczenie zbadajmy obecność tętna (krążenia) na tętnicy szyjnej
                  i tętnicy promieniowej.
                </li>
              </ol>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Zasada 4</ion-card-subtitle>
              <ion-card-title>Pozycja bezpieczna</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>Poszkodowany ma zachowany oddech i oznaki krążenia. Ułóżmy poszkodowanego w pozycji bezpiecznej (boczna
                ustalona), tak
                aby zapobiec zapadaniu się języka na tylną ścianę gardło co mogło by doprowadzić do zatrzymania krążenia
                (NZK) patrz:
                postępowanie w zatrzymaniu krążenia.</p>
              <ion-img src="./../../assets/icon/safetyFirst.svg" style="width: 15%;" alt=""> </ion-img>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Zasada 5</ion-card-subtitle>
              <ion-card-title>Wezwanie pomocy</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>Wezwijmy pomoc 999/112. Kontrolujmy oddech do czasu przyjazdu zespołu</p>
              <ion-img src="./../../assets/icon/safetyFirst.svg" style="width: 15%;" alt=""> </ion-img>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Zasada 6</ion-card-subtitle>
              <ion-card-title>Kontrola parametrów życiowych</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>Kontrola parametrów życiowych do czasu przyjazdu Zespołu Ratownictwa Medycznego</p>
              <ion-img src="./../../assets/icon/safetyFirst.svg" style="width: 15%;" alt=""> </ion-img>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides> 

    </ion-grid>
  </ion-content>