<ion-content>
  <app-header></app-header>
  <!-- <ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-border">
      <ion-back-button text="Powrót" slot="start"></ion-back-button>
      <ion-title>Urazy</ion-title>

      <ion-icon slot="end" name="eye" style="margin-right: 5vw"></ion-icon>
      <ion-text slot="end" style="margin-right: 2vw">aA</ion-text>
    </ion-toolbar>
  </ion-header> -->
    <ion-tabs style="position: fixed; bottom: 0; overflow-y: scroll;" >
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="generalFractures">
          <img src="./../../assets/icon/broken-bone.svg" style="width: 50%;height: 50%;">
          <ion-label>złamania</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="upperFractures">
          <img src="./../../assets/icon/broken-hand.svg" style="width: 50%; height: 50%;">
          <ion-label>k. górna</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="lowerFractures">
          <img src="./../../assets/icon/broken-leg.svg" style="height: 50%; height: 50%;">
          <ion-label>k. dolna</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="backboneFractures">
          <img src="./../../assets/icon/broken-backbone.svg" style="width: 50%;height: 50%;">
          <ion-label>kręgosłup</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>