<app-header></app-header>

<ion-tabs [ngClass]="{ 'big-font': bigFont, 'dark': darkMode, 'verticalDistance': verticalDistance, 'horizontalDistance': horizontalDistance }">
  <ion-tab-bar slot="bottom" class="yellowBackground">
    <ion-tab-button tab="generalFractures">
      <img src="./../../assets/icon/broken-bone.svg" style="width: 50%;height: 50%;">
      <!-- <ion-label>złamania</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="upperFractures">
      <img src="./../../assets/icon/broken-hand.svg" style="width: 50%; height: 50%;">
      <!-- <ion-label>k. górna</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="lowerFractures">
      <img src="./../../assets/icon/broken-leg.svg" style="height: 50%; height: 50%;">
      <!-- <ion-label>k. dolna</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="backboneFractures">
      <img src="./../../assets/icon/broken-backbone.svg" style="width: 50%;height: 50%;">
      <!-- <ion-label>kręgosłup</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
