<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-border">
      <ion-back-button text="Powrót" slot="start"></ion-back-button>
      <ion-title>Zatrzymanie krązenia</ion-title>

      <ion-icon slot="end" name="eye" style="margin-right: 5vw"></ion-icon>
      <ion-text slot="end" style="margin-right: 2vw">aA</ion-text>
    </ion-toolbar>
  </ion-header>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Pierwsze kroki</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label class="ion-text-wrap">- Bezpieczeństwo własne i miejsca zdarzenia,
        <p>Zanim upewnimy się, że poszkodowany jest nieprzytomny i potrzebuje naszej pomocy zadbajmy
          o bezpieczeństwo własne i miejsca zdarzenia upewniając się, że nic nie zagraża nam i poszkodowanemu!
        </p>
      </ion-label>
      <!-- <ion-card> -->

      <!-- </ion-card> -->


    </ion-item>
    <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg"
      style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
    <ion-item>
      <ion-label class="ion-text-wrap">- Sprawdzenie reakcji – „Halo czy Pan/Pani mnie słyszy” i zapewnienie sobie kogoś
        do pomocy,
        <p>W drugiej kolejności po podejściu do poszkodowanego sprawdźmy reakcję na głos mówiąc wyraźnie – Halo!
          czy Pan/Pani mnie
          słyszy? – jeśli brak reakcji ze strony poszkodowanego delikatnie potrząsamy go za ramiona.</p>
      </ion-label>

    </ion-item>
    <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg"
      style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
    <ion-item>
      <ion-label class="ion-text-wrap">- Badanie ABC,
        <p>
          Jeżeli nie uzyskaliśmy żadnej informacji zwrotnej od poszkodowanego, zapewnijmy sobie kogoś do pomocy, a w
          kolejnym
          etapie zbadajmy chorego według prostego schematu ABC, tak aby upewnić się co do jego stanu zdrowia.
        </p>
        <ul>
          <li>A (airway) drożność dróg oddechowych – odegnijmy delikatnie głowę do tyłu (chwyt czoło-żuchwa), tak aby
            udrożnić drogi
            oddechowe.</li>
          <li>B (breathing) – zbadajmy oddech przez 10 sekund na zasadzie: widzę, słyszę, czuję (w ciągu 10 sekund
            powinniśmy wyczuć
            przynajmniej dwa pełne oddechy).</li>
          <li>C (circulation) – jeśli mamy w tym doświadczenie zbadajmy obecność tętna (krążenia) na tętnicy szyjnej i
            tętnicy
            promieniowej.</li>
        </ul>

      </ion-label>
    </ion-item>
    <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg"
      style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
    <!-- <ion-item>
      <ion-label class="ion-text-wrap">- Wezwanie kwalifikowanej pomocy (Nr alarmowy 999/112),</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">- Resuscytacja krążeniowo-oddechowa w schemacie 30:2,</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">- Wczesna defibrylacja.</ion-label>
    </ion-item> -->
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="ion-text-wrap">Poszkodowany nie oddycha i nie ma oznak krążenia.</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label class="ion-text-wrap">- Wezwanie kwalifikowanej pomocy (Nr alarmowy 999/112),
        <p>
          To czas by wezwać kwalifikowaną pomoc dzwoniąc pod jeden z numerów alarmowych (112/999)
        </p>
      </ion-label>
    </ion-item>
    <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg"
      style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
    <ion-item>
      <ion-label class="ion-text-wrap">- Resuscytacja krążeniowo-oddechowa w schemacie 30:2,
        <p>zapewnić sobie dostęp do urządzenia AED oraz przystąpić niezwłocznie do wykonywania resuscytacji
          krążeniowo-oddechowej,
          na którą składają się uciski klatki piersiowej i oddechy ratownicze w schemacie 30:2. Uciskaj mocno i szybko
          30 razy
          (głębokość 5-6 cm, częstość 100-120/min.). Oddechy natomiast wykonaj 2 razy (by je wykonać udrożnij ponownie
          drogi
          oddechowe. Każdy oddech powinien trwać ok. 1 sekundę, do momentu uniesienia się klatki piersiowej) Jeśli to
          możliwe
          skorzystaj z maseczki foliowej lub pocket mask by zwiększyć swoje bezpieczeństwo.</p>
      </ion-label>
    </ion-item>
    <img src="./../../assets/images/1_bezpieczenstwo_ wlasne.jpg"
      style="width: 100%; height: auto; padding: 0; margin: 0;" alt="">
    <ion-item>
      <ion-label class="ion-text-wrap">- Wczesna defibrylacja.
        <p>Gdy urządzenie AED będzie dostępne, należy je jak najszybciej uruchomić i postępować zgodnie z jego
          poleceniami.</p>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>