<!-- <ion-header>
  <ion-toolbar>
    <ion-title>fractures</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  wrfwerfwe
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="generalFractures">
        <img src="./../../assets/icon/broken-bone.svg" style="width: 50%;height: 50%;">
        <ion-label>złamania</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="upperFractures">
        <img src="./../../assets/icon/broken-hand.svg" style="width: 50%; height: 50%;">
        <ion-label>k. górna</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="lowerFractures">
        <img src="./../../assets/icon/broken-leg.svg" style="height: 50%;">
        <ion-label>k. dolna</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="backboneFractures">
        <img src="./../../assets/icon/broken-backbone.svg" style="width: 50%;height: 50%;">
        <ion-label>kręgosłup</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>