/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$lightBlue-1E73BE: #1E73BE;
$lightGrey-C0C0C0: #C0C0C0;
$darkBlue-00346F: #00346F;
$yellow: yellow;
$generalFontSize: 16px;
$titleFontSize: $generalFontSize*1.5;
$subTitleFontSize: $generalFontSize*1.25;
$bigFontSize-generalFontSize: 20px;
$bigFontSize-titleFontSize: $bigFontSize-generalFontSize*1.5;
$bigFontSize-subTitleFontSize: $bigFontSize-generalFontSize*1.25;

@mixin border-bottom($px,$solid,$color) {
    border-bottom: $px $solid $color;
}

ion-content, ion-toolbar{
    --background: var(--ion-color-background);
}

ion-back-button {
    display: block;
}

.backgroundColor{
    background-color: white;
    --background: white;
    background: white;
}
.border-bottom-dark-blue{
    @include border-bottom(5px, solid, $darkBlue-00346F)
}
.border-bottom-light-grey{
    @include border-bottom(1px, solid, $lightGrey-C0C0C0)
}

.my-custom-modal-css .modal-wrapper{
    height: 95%;
    top: 5%;
    position: absolute;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.margin-23vh{
    margin-top: 23vh;
}

ul{
    // line-height: 15px;
}
.home-title{
    background-color: #1E73BE; padding: 15px 0; color: white; border-bottom: 3px solid white; letter-spacing: 2px; font-size: $generalFontSize;
}
.home-header{
    height: 15vh; background-color:#1E73BE; color: white; font-size: $titleFontSize;
}
.home-modal{
    height:7vh;padding: 10px 0; background-color: #1B558F; color: white;box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.5);
}
.text{
    font-size: $generalFontSize;
}
.title{
    font-size: $titleFontSize;
}
.subtitle{
    font-size: $subTitleFontSize;
}
.redColor{
    color: red;
}
.rectStyle{
    fill:rgb(0,0,0);
}
.dark{
    background-color: black;
    --background: black;
    background: black;
    color: yellow;
    --color: yellow;
    .backgroundColor{
        background-color: black;
        --background: black;
        background: black;
    }
    .home-header{
        height: 15vh; background-color:black; color: yellow; font-size: 80px;
    }
    .home-modal{
        height:7vh;padding: 10px 0; background-color: black; color: yellow;box-shadow: none;
    }
    ion-checkbox {
        --background: rgba(	255, 255, 0,0.5);
        --background-checked: yellow;
        border: none;
        border-radius: 50%;
    }     
    .border-bottom-dark-blue{
        @include border-bottom(5px, solid, $yellow)
    }
    .border-bottom-light-grey{
        @include border-bottom(1px, solid, $yellow)
    }
    ion-content, ion-grid, ion-list, ion-item{
        background-color: black;
        --background: black;
        background: black;
        color: yellow;
        --color: yellow;
    }

    .yellow{
        color: yellow;
    }
    .home-title{
        background-color: black; color: yellow; border-bottom: 3px solid yellow;;
    }
    .yellowBackground{
        --background: rgba(	255, 255, 0,0.5);
    }
    .redColor{
        color: yellow;
    }
    .rectStyle{
        fill:yellow;
    }
    ion-card-subtitle,ion-card-title{
        color: $yellow;
    }
    .swiper-pagination-bullet-active{
        background: $yellow;
    }
    .swiper-pagination-bullet{
        background: rgba(	255, 255, 0,0.5);
    }
}



.big-font{
    // font-size: $bigFontSize;
    .text{
        font-size: $bigFontSize-generalFontSize;
        white-space: initial;
    }
    .title{
        font-size: $bigFontSize-titleFontSize;
    }
    .subtitle{
        font-size: $bigFontSize-subTitleFontSize;
    }
}


.horizontalDistance{
    ion-content, ion-gird, ion-row, ion-col, div, ion-text, ion-label, span {
        letter-spacing: 10px;
    }
}

.verticalDistance{
    ion-content, ion-gird, ion-row, ion-col, div {
        line-height: 50px;
    }
    .minus5px{
        margin-top: -5px;
    }
}
