/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$lightBlue-1E73BE: #1E73BE;
$darkBlue-00346F: #00346F;
$yellow: yellow;

@mixin border-bottom($px,$solid,$color) {
    border-bottom: $px $solid $color;
}

ion-content, ion-toolbar{
    --background: var(--ion-color-background);
}

ion-back-button {
   display: block;
}

.border-bottom-dark-blue{
    @include border-bottom(5px, solid, $darkBlue-00346F)
}

.my-custom-modal-css .modal-wrapper{
    height: 95%;
    top: 5%;
    position: absolute;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.dark{
    background-color: black;
    --background: black;
    background: black;
    color: yellow;
    --color: yellow;

    .border-bottom-dark-blue{
        @include border-bottom(5px, solid, $yellow)
    }
    ion-content, ion-grid, ion-list, ion-item{
        background-color: black;
        --background: black;
        background: black;
        color: yellow;
        --color: yellow;
    }
}

.big-font{
    font-size: 80px;
}