<ion-content [ngClass]="{ 'big-font': bigFont, 'dark': darkMode }"  [fullscreen]="true" no-bounce has-bouncing="false" forceOverscroll="false">
    <ion-header class="ion-no-border">
        <ion-toolbar class="ion-no-border">

            <ion-title>Pierwsza pomoc</ion-title>
            <ion-icon (click)="openModal()" slot="end" name="menu-outline"></ion-icon>
        </ion-toolbar>
    
    </ion-header>
    <br><br><br>
    <div (click)="cardialArrest()">Zatrzymanie krązenia</div>
    <br><br><br>
    <div (click)="navigateFractures()">Urazy</div>
    <br><br><br>
    <div (click)="navigateUnconscious()">poszkodowany nieprzytomny</div>
    <br><br><br>
    <div (click)="navigateFirstAid()">Drgawki</div>
    <br><br><br>
    <div (click)="navigateSafePosition()">Pozycja bezpieczna</div>
</ion-content>