<!-- <ion-content [fullscreen]="true" no-bounce has-bouncing="false" forceOverscroll="false"> -->
<ion-content>
    <!-- <br><br><br>
    <ion-text full (click)="slidePage()">Slide</ion-text>

    <br><br><br>
    <ion-text full (click)="flipPage()">Flip</ion-text>
    <br><br><br>
    <ion-text full (click)="fadePage()">fade</ion-text>
    <br><br><br>
    <ion-text full (click)="curlPage()">Curl</ion-text> -->

    <div>Zatrzymanie krązenia</div>
    <div (click)="navigateFractures()">Złamania i zwichnięcia</div>
    <div>Poszkodowany nieprzytomny</div>
    <div (click)="navigateFirstAid()">Pierwsza pomoc</div>
</ion-content>