<!-- <ion-content [fullscreen]="true" no-bounce has-bouncing="false" forceOverscroll="false"> -->
<ion-content>
    <!-- <br><br><br>
    <ion-text full (click)="slidePage()">Slide</ion-text>

    <br><br><br>
    <ion-text full (click)="flipPage()">Flip</ion-text>
    <br><br><br>
    <ion-text full (click)="fadePage()">fade</ion-text>
    <br><br><br>
    <ion-text full (click)="curlPage()">Curl</ion-text> -->
    <br><br><br>
    <div (click)="cardialArrest()">Zatrzymanie krązenia</div>
    <br><br><br>
    <div (click)="navigateFractures()">Urazy</div>
    <br><br><br>
    <div (click)="navigateUnconscious()">poszkodowany nieprzytomny</div>
    <br><br><br>
    <div (click)="navigateFirstAid()">Drgawki</div>
</ion-content>