.display-none{
  display: none;
}

.showed-slowly {
  animation: opac 1s;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
svg {
  transform: rotateZ(90deg);
}

.triangle-down {
  transform: rotateZ(180deg);
}
